{% extends "flights/layout.html" %}

{% block body  %}
    <h1> Flights </h1>
    <h1>flight by id {{ flight.id}}</h1>
    <ul>
        <li>Origin: {{ flight.origin }} </li>
        <li>distination : {{ flight.destination }}</li>
        <li>Duration : {{ flight.duration }}</li>
        </li>
    </ul>   
    <h2>Passengrs </h2>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger }}</li>
        {% empty %}
            <li> No Pasengers . </li>

        {% endfor %}
    </ul>
        <h2> Add PAssengers</h2>
        <form action="{% url 'book' flight.id %}" method="post">
            {% csrf_token %}
            <select name ="passenger">
                {% for passenger in non_passengers %}
                <option value="{{ passenger.id }}">{{ passenger }}</option>
                {% endfor %}
            </select>
            <input type="submit>"
        </form>

    <h1>This is the End !!!</h1>
<a href=" {% url 'index' %}"> Back to flight list </a>

{% endblock %}
