{% extends "flights/layout.html" %}

{% block body  %}
    <h1> Flights </h1>
    <h1>flight by id {{ flight.id}}</h1>
    <ul>
        <li>Origin: {{ flight.origin }} </li>
        <li>distination : {{ flight.destination }}</li>
        <li>Duration : {{ flight.duration }}</li>
        </li>
    </ul>   
    <h2>Passengrs </h2>
    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger }}</li>
        {% empty %}
            <li> No Pasengers . </li>

        {% endfor %}
    </ul>


{% endblock %}
